/* Define variable css */
@import url('/src/utils/DefineVariable.css');
.pagination{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:5rem ;
    font-size: 1.2rem;
    gap: 5px;
} 
.pagination .page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
    color: var(--colorback);
    text-decoration: none;
}

.pagination .active{
    background-color: var(--bgcommon);
    text-decoration: none;
} 
.modal-backdrop{
    background-color:var(--colorBlackModal) !important;
}

.containIconSearchManager{
    width: 35px;
}
#iconSearchManager{
    margin-top: 12px;
    margin-left: 9px;

}
.manager-img{
    width: 190px;
    height: 190px;
}
.managerDetailProduct{
    text-decoration: none;
    color:var(--colorback);
}
.managerDetailProduct:hover{
    color: var(--bgcommon);
}