/* Define variable css */
@import url('/src/utils/DefineVariable.css');

.content-img img{
    width: 80px;
    height: 80px;
}

.content-product{
    width: 283px;
    height: 77px;
    margin-left: 8px;
    overflow: hidden;
}
.content-product-link{
    text-decoration: none;
    color: var(--colorback);
}
.content-product-link:hover{
    color: var(--colorback);
}
.content-product p{
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
.content-attribute{
    margin-left: 18px;
}
.choose-product{
    user-select: none;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}
.btn-color-product{
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 0.25rem 0.75rem;
    margin: 0px 8px 8px 0px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}
.ammount-product{
    margin: 0;
}
.btn-remove-product{
    cursor: pointer;
    background: none;
    border: 0;
}
.btn-remove-product:hover{
    color: var(--colorPrice);
}
.priceOrigin{
    color: var(--colorPrice);
}
.total-price{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--colorPrice);
}
.btnReviewProducts{
    background-color: var(--colorPrice);
    border-color: var(--colorErrorValid);
    color: var(--bgwhite);
    padding: 1px 25px 4px 25px;

}
.total-price-name{
    color: var(--colorNameCategory);
    margin-right: 24px;
}
.buy-again{
    text-decoration: none;
    background-color: var(--colorPrice);
    border-color: var(--colorErrorValid);
    color: var(--bgwhite);
    padding: 3px 29px 5px 33px;
}
.buy-again:hover{
    background-color:var(--colorPrice) ;
    color: var(--bgwhite);
}