:root{
    --bgwhite:#ffffff;
    --bgcommon:#fb5631;
    --colorform:#dadde1;
    --colorBlue: #05a;
    --colorback:#222;
    --colorErrorValid:#ff424f;
    --colorPrice:#ee4d2d;
    --colorFullFillAttribute:#fff5f5;
    --colorPagination:#17d3dd;
    --colorBlackModal:#00000038;
    --colorSuccessModal:#82ce34;
    --colorDropZone:#fafafa;
    --colorNameCategory:rgba(0,0,0,.54);
    --colorBtnAdd:#ee4d2d21;
}