@import url('/src/utils/DefineVariable.css');
.head-product-name-product{
    font-size: 23px;
    word-wrap: break-word;
}
.btn-color-product{
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 0.25rem 0.75rem;
    margin: 0px 8px 8px 0px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}
.color-name{
    width: 110px;
}
.hightlight-attribute{
    background: var(--colorFullFillAttribute);
}
.choose-full-attribute-open{
    margin: 15px 0 0 110px;
    color: var(--colorErrorValid);
    opacity: 1;
    visibility: visible;
}
.choose-full-attribute-close{
    opacity: 0;
    visibility: hidden;
}
.bg-color-choose{
    border-color: var(--colorPrice) !important;
    color: var(--colorPrice) !important;
}

.amountProduct::-webkit-outer-spin-button,
.amountProduct::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ammount-product{
    margin: 0;
}
.amountProduct{
    text-align: center;
    width: 50px;
}

.slick-slide{
    width: 100px !important;
}
.slick-arrow{
    display: none !important;
}
.star-detail{
    top: -4px !important;
}
.price-product{
    font-size: 1.875rem;
    font-weight: 500;
    color: var(--colorPrice);
    margin-left: 68px;
    margin-top: 21px;
    margin-bottom: 18px;
}
.buy-product button{
    border: 1px solid var(--colorPrice);
    color: var(--colorPrice);
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 10px;
    padding-left: 22px;
    background-color: var(--colorBtnAdd);
}
.describe-product{
    margin-top: 90px;
}
.detail-product-title{
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    padding: 0.875rem;
    margin-bottom: 20px;
}
.detail-product-content{
    margin-left: 0.875rem;
}

.description-product{
    margin-top: 20px;
}
.description-product-title{
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    padding: 0.875rem;
    margin-bottom: 20px;
}
.description-product-content{
    margin-left: 0.875rem;
}
.review-product-title{
    background: rgba(0,0,0,.02);
    color: rgba(0,0,0,.87);
    font-size: 1.125rem;
    padding: 0.875rem;
    margin-bottom: 20px;
}
.avatar-customer{
    margin-right: 16px;
}